.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    /* Example background color */
}

.form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.input-form {
    width: 100%;
    margin-bottom: 16px;
}

.button-alignment {
    display: flex;
    justify-content: flex-end;
}

.button-alignment .p-button {
    margin-top: 16px;
}

.section {
    margin-top: 20px;
    text-align: center;
}

.progressBar {
    margin-top: 20px;
}